fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
langchain
langchain-google-genai
langchain-community
google-generativeai
faiss-cpu
supabase
slowapi
httpx
tiktoken
python-multipart>=0.0.9
sse-starlette
